[Unit]
Description=Diffie-Hellman group generator

[Service]
Type=oneshot
ExecStart=runagent generate-dhpem
ExecStart=-systemctl --user reload ejabberd.service
WorkingDirectory=%S/state
SyslogIdentifier=%N
