#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a ejabberd instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=ejabberd server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/discovery.env
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/ejabberd.pid %t/ejabberd.ctr-id
ExecStartPre=-runagent discover-ldap
ExecStartPre=mkdir -vp config
ExecStartPre=-runagent expand-configuration
ExecStartPre=-runagent install-LE-certificate
ExecStartPre=-runagent install-dh-certificate-key
ExecStartPre=bash -c "while [ ! -f certificates/ejabberd.pem ]; do sleep 1; done"
ExecStartPre=bash -c "while [ ! -f certificates/dh.pem ]; do sleep 1; done"
ExecStartPost=bash -c "while ! /usr/bin/podman exec ejabberd bin/ejabberdctl status; do sleep 1 ; done"
ExecStart=/usr/bin/podman run \
    --detach \
    --hostname=localhost \
    --conmon-pidfile=%t/ejabberd.pid \
    --cidfile=%t/ejabberd.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --network=host \
    --volume=database:/home/ejabberd/database:Z \
    --volume=./config/ejabberd.yml:/home/ejabberd/conf/ejabberd.yml:Z \
    --volume=upload:/home/ejabberd/upload:Z \
    --volume=certificates:/home/ejabberd/certificates:Z \
    --init \
    --image-volume=ignore \
    ${ECS_IMAGE}
ExecReload=-runagent discover-ldap
ExecReload=mkdir -vp config
ExecReload=-runagent expand-configuration
ExecReload=-runagent install-LE-certificate
ExecReload=-runagent install-dh-certificate-key
ExecReload=bash -c "while [ ! -f certificates/ejabberd.pem ]; do sleep 1; done"
ExecReload=bash -c "while [ ! -f certificates/dh.pem ]; do sleep 1; done"
ExecReload=bash -c "while ! /usr/bin/podman exec ejabberd bin/ejabberdctl status; do sleep 1 ; done"
ExecReload=runagent /usr/bin/podman exec \
    --env-file=environment \
    --env-file=discovery.env \
    %N bin/ejabberdctl reload_config
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/ejabberd.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/ejabberd.ctr-id
PIDFile=%t/ejabberd.pid
Type=forking
SyslogIdentifier=%u

[Install]
WantedBy=default.target

