#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a ejabberd instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=ejabberd server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/ejabberd.pid %t/ejabberd.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/ejabberd.pid \
    --cidfile=%t/ejabberd.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${TCP_PORT}:8080 \
    ${ECHO_SERVER_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/ejabberd.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/ejabberd.ctr-id
PIDFile=%t/ejabberd.pid
Type=forking

[Install]
WantedBy=default.target
