[Unit]
Description=Purge the Mnesia database of old messages of mod_mam
After=ejabberd.service

[Service]
Type=oneshot
ExecStart=runagent purge-mnesia
WorkingDirectory=%S/state
SyslogIdentifier=%u/%N
